body {
	margin: 0;

	font-family: Arial;

	color: #FFF;
}

.header {
	width: 100%;
	height: 72px;

	background: #671e1e;

	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .75);

	z-index: 2;

	display: flex;

	position: absolute;
}

.header > .content {
	width: 95%;

	margin: 0 auto;

	display: flex;
}

.header > .content > .logo {
	width: 60px;
	height: 60px;

	margin: auto 0;

	background: url(../images/logo.png);
	background-size: 60px;

	display: inline-block;
}

.header > .content > .slogan {
	margin: auto 0 auto 24px;

	font-size: 28px;
}

.sidebar {
	position: absolute;

	top: 72px;

	width: 200px;

	background: #862929;

	height: calc(100% - 72px);

	z-index: 1;
}

.sidebar > ul > li {
	list-style: none;

	width: calc(100% - 12px);

	cursor: pointer;

	padding: 18px 0 18px 12px;
}

.sidebar > ul {
	padding: 0;
}

.sidebar > ul > li.selected {
	background: #671e1e;

	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .75);

	width: calc(100% - 6px);
}

.container {
	position: absolute;

	left: 200px;
	top: 72px;

	width: calc(100% - 200px);
	height: calc(100% - 72px);

	background: #FFF;

	color: #000;

	display: grid;

	grid-template-columns: auto auto;

	grid-column-gap: 16px;

	padding: 16px;

	box-sizing: border-box;
}

.container > .box {

}

.container .box > .head {
	padding: 12px 16px;

	background: #F7F7F7;

	border: 2px solid #F4F4F4;
	border-bottom: 1px solid #E6E6E6;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	color: #242736;

	font-weight: bold;

	box-sizing: border-box;
}

.container .box > .content {
	padding: 12px;

	box-sizing: border-box;

	border: 2px solid #F4F4F4;
	border-top: none;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.container > .box > .content > form {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-row-gap: 12px;
}

.container > .box > .content > form > fieldset {
	border: none;

	position: relative;
}

.container > .box > .content > form > fieldset > ul {
	float: right;

	padding: 0;
	margin: 0;

	font-size: 14px;
}

.container > .box > .content > form > fieldset > ul > li {
	display: inline-block;

	cursor: pointer;

	box-sizing: border-box;

	border-bottom: 1px solid transparent;
}

.container > .box > .content > form > fieldset > ul > li:not(:first-child):hover {
	transition: .5s ease;

	color: #671e1e;

	border-bottom: 1px dotted #671e1e;
}

.container > .box > .content > form > fieldset > ul > li:first-child {
	color: #862929;
	font-style: italic;

	cursor: default;
}

.container > .box > .content > form > input[type=text],
.container > .box > .content > form > input[type=number],
.container > .box > .content > form > input[type=file],
.container > .box > .content > form > select,
.container > .box > .content > form > textarea,
.container > .box > .content > form > div > input[type=number],
.container > .box > .content > form > div > select {
	border: 1px solid #E5E6E8;
	border-radius: 3px;

	padding: 6px 12px;

	box-sizing: border-box;
}
.container > .box > .content > form > div {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 6px;
}

.container > .box > .content > form > textarea {
	padding: 6px 12px;

	font-family: Arial;

	resize: none;
}

.container > .box > .content > form *:active,
.container > .box > .content > form *:focus {
	outline: none;
}

.container > .box > .content > canvas {
	border: 1px solid #E5E6E8;
}

#canvas-box {
	position: absolute;

	margin-top: 16px;
	width: 100%;
}

.render {
	position: absolute;

	width: 100%;
	height: 100%;

	z-index: 0;

	background: rgba(0, 0, 0, .75);

	display: none;
}

.render > div {
	margin: auto;

	position: relative;
}

#render-button {
	float: right;
	font-style: italic;
	color: #862929;
	font-weight: normal;

	cursor: pointer;

	border-bottom: 1px solid transparent;
}

#render-button:hover {
	border-bottom: 1px dotted #862929;
}

#render-canvas {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .75);

	position: relative;
}

.render #imgur {
	color: #fff;
	font-style: italic;

	position: absolute;
	bottom: -24px;
	left: 0;

	border-bottom: 1px solid transparent;
}

.render #imgur:hover {
	transition: .5s ease;

	color: #862929;

	border-bottom: 1px dotted #862929;

	cursor: pointer;
}