body {
	margin: 0;

	font-family: Arial;

	color: #FFF;
}

.header {
	width: 100%;
	height: 125px;

	background: #B20017;

	display: flex;

	position: absolute;
}

.header > .erd {
	margin: auto;

	width: 541px;
	height: 69px;

	background: url(../images/ERD.png);
}

.header > .logo {
	width: 110px;
	height: 110px;

	top: 100px;

	background: url(../images/logo.png);
	background-size: 110px 110px;

	position: absolute;

	left: calc(50% - 55px);

	z-index: 2;
}

.sidebar {
	position: absolute;

	top: 125px;

	width: 100%;

	background: #353333;

	height: 60px;

	z-index: 1;

	box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

.sidebar > ul.left {
	position: absolute;
	right: calc(50% + 65px);
}

.sidebar > ul.right {
	position: absolute;
	left: calc(50% + 65px);
}

.sidebar > ul.left li {
	float: right;
}

.sidebar > ul > a > li {
	display: inline-block;

	list-style: none;

	cursor: pointer;

	box-sizing: border-box;

	color: #ffffff;
	line-height: 42px;
	padding: 9px 14px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: 'Montserrat',sans-serif;
	font-weight: 500;
	font-style: normal;

	margin: 0 3px;
}

.sidebar > ul > a {
	color: inherit;

	text-decoration: inherit;
}

.sidebar > ul {
	padding: 0;

	margin: 0;

	width: calc(50% - 65px);
}

.sidebar > ul > a > li.selected,
.sidebar > ul > a > li:hover {
	background: #FFF;

	color: #B20017;

	transition: 1s ease all;
}

.container {
	position: absolute;

	left: 5%;
	top: 190px;

	width: 90%;

	background: #FFF;

	color: #000;

	display: grid;

	grid-template-columns: auto auto;

	grid-column-gap: 16px;

	padding: 16px;

	box-sizing: border-box;
}

.container > .box {

}

.container .box > .head {
	padding: 12px 16px;

	background: #F7F7F7;

	border: 2px solid #F4F4F4;
	border-bottom: 1px solid #E6E6E6;

	color: #242736;

	font-weight: bold;

	box-sizing: border-box;
}

.container .box > .content {
	padding: 12px;

	box-sizing: border-box;

	border: 2px solid #F4F4F4;
	border-top: none;
}

.box > .content form {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-row-gap: 12px;
}

.box > .content form > fieldset {
	border: none;

	position: relative;
}

.box > .content form > fieldset > ul {
	float: right;

	padding: 0;
	margin: 0;

	font-size: 14px;
}

.box > .content form > fieldset > ul > li {
	display: inline-block;

	cursor: pointer;

	box-sizing: border-box;

	border-bottom: 1px solid transparent;
}

.box > .content form > fieldset > ul > li:not(:first-child):hover {
	transition: .5s ease;

	color: #671e1e;

	border-bottom: 1px dotted #671e1e;
}

.box > .content form > fieldset > ul > li:first-child {
	color: #B20017;
	font-style: italic;

	cursor: default;
}

.box > .content > input[type=submit] {
	background: #FFF;
	width: 100%;

	cursor: pointer;
}

.box > .content > input[type=submit]:hover {
	opacity: .75;
}

.box > .content > input[type=submit]:active {
	opacity: .5;

	cursor: default;

	outline-color: #B20017;
}

.box > .content input[type=submit],
.box > .content  input[type=text],
.box > .content  input[type=number],
.box > .content  input[type=file],
.box > .content  select,
.box > .content  textarea,
.box > .content  div > input[type=number],
.box > .content  div > select {
	border: 1px solid #E5E6E8;
	border-radius: 3px;

	padding: 6px 12px;

	box-sizing: border-box;
}
.box > .content form > div {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 6px;
}

.box > .content form > textarea {
	padding: 6px 12px;

	font-family: Arial;

	resize: none;
}

.box > .content > form *:active,
.box > .content > form *:focus {
	outline: none;
}

.box > .content > canvas {
	border: 1px solid #E5E6E8;
}

#canvas-box {
	position: absolute;

	margin-top: 16px;
	width: 100%;
}

.render {
	position: absolute;

	width: 100%;
	height: 100%;

	z-index: 0;

	background: rgba(0, 0, 0, .75);

	display: none;
}

.render > div {
	margin: auto;

	position: relative;
}

#render-button {
	float: right;
	font-style: italic;
	color: #B20017;
	font-weight: normal;

	cursor: pointer;

	border-bottom: 1px solid transparent;
}

#render-button:hover {
	border-bottom: 1px dotted #B20017;
}

#render-canvas {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .75);

	position: relative;
}

.render #imgur {
	color: #fff;
	font-style: italic;

	position: absolute;
	bottom: -24px;
	left: 0;

	border-bottom: 1px solid transparent;
}

.render #imgur:hover {
	transition: .5s ease;

	color: #B20017;

	border-bottom: 1px dotted #B20017;

	cursor: pointer;
}

h2 {
	font-family: 'Roboto Slab',serif;
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	color: #c41b1b;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 40px;
	margin-top: 40px;
}
